@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: #23272F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  width: 6rem;
}

header h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #3b5486, #03d5ff, #3b5486, #03d5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
  margin: 0;
  font-size: 1.25rem;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: white;
}

#coreConcepts {
  padding: 2rem;
  border-radius: 6px;
  background-color: #141619;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  margin: 3rem auto;
  width: 85%;
}

#coreConcepts > h2{
  text-align: center;
  margin-bottom: 4rem;
}

#coreConcepts div {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#coreConcepts div > div {
  width: 10rem;
  text-align: center;
  padding: 1rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#coreConcepts div> div > img {
  width: 5rem;
  object-fit: cover;
}

#coreConcepts > div > div > h3 {
  margin: 0.5rem 0;
  text-align: center;
  background: linear-gradient(40deg, #3b5486, #03d5ff, #3b5486, #03d5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

#coreConcepts > div > div > p {
  font-size: 0.9rem;
  text-align: center;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

#examples menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

.tab {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tab h3 {
  margin: 0;
}

.tab code {
  font-size: 1rem;
}
