header {
    text-align: center;
    margin: 3rem 0;
  }
  
  header img {
    width: 6rem;
  }
  
  header h1 {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 5rem;
    background: linear-gradient(40deg, #3b5486, #03d5ff, #3b5486, #03d5ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  }
  
  header p {
    margin: 0;
    font-size: 1.25rem;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
  }